#canvas{
  border: 1px solid grey;
  display: block;
  margin: 0 auto;
  background-image: url(images/bk4.gif);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  z-index: 999;
}

body{
  background-image: url(images/wheat-bk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img.logo {
    width: 542px;
    display: block;
    margin: auto;
}

a.github-link, a.linkedin-link {
    display: block;
    margin-bottom: 29px;
    padding: 15px;
    text-align: center;
}

a:hover{
  background: #423171;
  color: #ffedcc;
}

.main-body{
  display: flex;
  position: relative;
  width: 909px;
  margin: auto;
}

.personal-links {
    position: absolute;
    margin: 0px 950px;
    font-size: 60px;
    box-sizing: border-box;
}

.developer p {
    text-align: center;
    font-family: fantasy;
    font-size: 18px;
}

.developer p span {
    font-weight: 800;
    font-size: 36px;
    font-family: fantasy;
}
